<%- include('./partials/head.ejs') %>

</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="container">
        <%- include('./partials/heading.ejs') %> 
        <div class="row justify-content-center">
            <div class="col-md-6">
                <p class="lead text text-center">Send an Email to <a target="_blank" href="https:wwww.bestiprop@gmail.com" class="btn">Besti-Proph</a></p>
            </div>
        </div>
    </div>

    <%- include('./partials/scripts.ejs') %>
</body>