<%- include('./partials/head.ejs') %> 
    
</head>
<body class="home">
    
   
   <div class="container-fluid">
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/heading.ejs') %>
    <div class="row justify-content-center btns">
        <a href="/book-store/add" class="btn">Add a book</a>
        <a href="/book-store" class="btn btn-1">See Books</a>
    </div>
   </div>

    <%- include('./partials/scripts.ejs') %>
</body>
</html>
