<footer class="footer"> 
    <div class="container-fluid">
        <div class="row justify-content-center align-middle">
            <div class="col">
                <p class="text-white text-capitalize text-center">&#169; Copyright Bestman Projects 2021</p>
                
                <p class="text-white text-capitalize text-center"><span><i class="fab fa-whatsapp"></i></span> +2348127025069</p>
                
            </div>
        </div>
    </div>
</footer>