<nav class="navbar transparent fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="/home">BOOKie</a>

    <div class="auth-btn ml-auto">
        <% if (user) { %>
            <span class="text-light btn user"><%= user.firstName %> </span>
            <a href="/logout" class="btn"> <span><i class="fas fa-sign-out-alt"></i></span> Log Out</a>         
            
            <% } else { %>
                
                <!-- <a href="/signup" class="btn"> <span><i class="fas fa-user-plus"></i></span> Sign Up</a> -->
                <a href="/login" class="btn"><span><i class="fas fa-sign-in-alt"></i></span>sign In</a>
                
            <% } %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <span><i class="text-light fas fa-ellipsis-v"></i></span>
    </button>
    
    <div class="collapse justify-content-center navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/book-store/add">Add A Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books">Book Store</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>